{% extends "base.html" %}


{% block content %}
<section class="section">
  <div class="columns">
      <div class="column box is-one-third is-offset-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="is-{{ category }} is-light notification">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h1 class="title has-text-centered">Sign Up / Login</h1>
        <form hx-post="{{url_for('main.process_login_form')}}">
          {{ form.hidden_tag() }}
          <div class="field">
            <label class="label">{{ form.email.label }}</label>
            <div class="control">
              {{ form.email(class="input") }}
            </div>
          </div>
          <div class="field">
            <label class="label">{{ form.password.label }}</label>
            <div class="control">
              {{ form.password(class="input") }}
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-success" id="submit" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  function toggleLoading() {
    let el = document.getElementById('submit')
    el.classList.add('is-loading')
  }
  let el = document.getElementById('submit')
  el.addEventListener('click', function() {
    toggleLoading()
  })
</script>
{% endblock %}
